footer.footer
	.container
		.footer_wrapper
			.footer_left
				a.footer_logo(href='')
					img(src='img/footer_logo.png' alt='')
				.footer_messages
					a.footer_message(href='')
						span.icon-footer_message1
					a.footer_message(href='')
						span.icon-footer_message2
			ul.footer_menu
				li
					a(href='') Подборки
				li
					a(href='') Контакты
				li
					a(href='') Статьи
				li
					a(href='') Способы оплаты
				li
					a(href='') О нас
				li
					a(href='') Условия возврата
				li
					a(href='') Разместить свой объект
			.footer_right
				a.footer_link(href='') Пользовательское соглашение
				a.footer_link(href='') Оферта на использование модуля
				.footer_subtitle 2021 Вся информация защищена

