header.header.page
	.container
		.header_wrapper
			.header_left
				a.header_logo(href='')
					span.icon-logo2
						span.path1
						span.path2
						span.path3
						span.path4
						span.path5
						span.path6
						span.path7
						span.path8
						span.path9
						span.path10
						span.path11
						span.path12
						span.path13
				ul.menu
					li
						a(href='') Подборки
					li
						a(href='') Статьи
			.header_right
				a.header_link-mobile(href='')
					span.icon-search
				form.header_search(action='#')
					.header_search-icon.icon-search
					div
						input.header_inp(type='text' name='' id='' placeholder='Поиск по названию ')
					.header_search-delete
						span.icon-delete
				a.header_link.icon-like(href='')
				a.header_link.icon-login2(href='')