nav.mob-nav#menu
	//- include _multilevel-panel
	
	//-for dlmenu plugin with dynamic adaptive replacement 
	#dl-menu.dl-menuwrapper


main.main#panel
	include ../_sections/header
	main.main-content
		block content
	include ../_sections/footer