doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title
			block title
		meta(name="description" content="")
		link(rel="icon" href="img/favicon.png")
		meta(name="viewport" content="width=device-width")

		link(rel="stylesheet" href="https://easepick.com/assets/css/demo_hotelcal.css")
		link(rel="stylesheet" href="css/slider.css")
		link(rel="stylesheet" href="css/jquery.fancybox.min.css")
		link(rel="stylesheet" href="css/style.css")
			
		link(rel="stylesheet" href="css/main.css")
	
	body
		include _mixins
		include _vars

		//- html for use slideOut.js--------------------
		//- include _body-html-for-slideout 
		
		include ../_sections/header
		block content
		include ../_sections/footer
		

		//- include _scripts

		block page-scripts
		
		script(src='js/common.js')
		//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_NAmCu9dm16a9i0oeX0T6rBQFgObeiZA&amp;callback=initMap" async defer>)