extends _misc/main

block title
	| Контакты

block content
	.page-contacts
		section.place
			.container
				.contacts-content
					.contacts-header
						.contacts-header__title Контакты
						.contacts-header__caption Вы можете отправить нам сообщение и мы обязательно свяжемся с вами
					
					.contacts-info
						form.contacts-info__form
							.form_inp-wrapper
								.form_inp-title
									| Имя
									span
								input.form_inp(type='text' name='' id='' placeholder='Ваше имя' )
							.form_inp-wrapper
								.form_inp-title
									| Номер телефона
									span
								input.form_inp(type='text' name='' id="phone-mask"  placeholder="+7 (999) 999 99 99")
							.form_inp-wrapper
								.form_inp-title
									| Сообщение 
									span
								textarea.form_inp(type='text' name='' id='' placeholder='Введите сообщение' )

							.contacts-info__form-bottom
								| Продолжая, Вы соглашаетесь с нашими 
								a(href="#") Условиями использования 
								br
								| и подтверждаете, что прочли нашу #[a(href="#") Политику конфиденциальности.]

							button.btn Отправить

						.contacts-address.address-contacts
							.address-contacts__row
								.address-contacts__key Фактический адрес:
								.address-contacts__value 350000, Краснодар, ул. Карасунская 89

							.address-contacts__row
								.address-contacts__key Электронная почта:
								a(href="mailto:info@znaimesta.ru").address-contacts__value info@znaimesta.ru

							.address-contacts__row
								.address-contacts__key Телефоны:
								a(href="tel:+74951508835").address-contacts__value +7 (495) 150-88-35.

					.contacts-requisites
						.contacts-requisites__title Реквизиты
						.contacts-requisites__row ИП Арнаут Дмитрий Константинович.
						.contacts-requisites__row ИНН 668605051497 / ОГРНИП 317505300077627.
						.contacts-requisites__row Юридический адрес: 143907, Московская область, город Балашиха, проспект Ленина 32А, кв. 287
						.contacts-requisites__row Тел.: +7 (495) 150-88-35.
				
				
//- img(src=img + "demo.jpg")
//- img(src=ico + "amex.svg")

block page-scripts

	//- SERVIVE FUNCTIONS==================

	//- remove-class--------------------------
	//- script(src="js/libs/service-functions/remove-class.js")

	//- siblings--------------------------
	//- script(src="js/libs/service-functions/siblings.js")

	//- webp-detection--------------------------
	//- script(src="js/libs/service-functions/webp-detection.js")

	//- dropdown-toggle on touch devices--------------------------
	//- script(src="js/libs/service-functions/dropdown-toggle.js")

	//- isMobile--------------------------
	//- script(src="js/libs/service-functions/mobileDetect.js")

	//- All in one file--------------------------
	//- script(src="js/libs/service-functions/all-functions.js")


	//- WITH JQUERY===================================
	//- jquery--------------------------
	//- script(src="js/libs/jquery/jquery-3.1.1.min.js")

	//- jquery-UI--------------------------
	//- script(src="js/libs/jquery-ui/jquery-ui.min.js")
		
	//- magnific-popup--------------------------
	//- script(src="js/libs/magnific-popup/dist/jquery.magnific-popup.min.js")
		
	//- slick--------------------------
	//- script(src="js/libs/slick/slick.min.js")
		
	//- slick-master (без лишних контейнеров)--------------------------
	//- script(src="js/libs/slick-master/slick.js")

	//- script(src='https://api-maps.yandex.ru/2.1/?apikey=1be0e242-a0f9-4c70-8d5c-f2f3df5c3e40&load=&lang=ru_RU' type='text/javascript')

	//- superfish--------------------------
	//- script(src="js/libs/superfish/dist/js/hoverIntent.js")
	//- script(src="js/libs/superfish/dist/js/superfish.min.js")

	//- end WITH JQUERY===================================


	//- VANILLA JS===================================
	//- dynamic-adaptive--------------------------
	//- script(src="js/libs/dynamic-adaptive/da.min.js")
		
	//- slideout--------------------------
	//- script(src="js/libs/slideout/slideout.js")

	//- multilevel-panel--------------------------
	//- script(src="js/libs/multilevel-panel/multilevel-panel.js")

	//- multilevel-dropdown-menu--------------------------
	//- script(src="js/libs/multilevel-dropdown/multidropdown.js")
			
	//- lazysizes--------------------------
	//- script(src="js/libs/lazysizes/lazysizes.min.js")	
		
	//- accordion--------------------------
	//- script(src="js/libs/accordion/vanilla-accordion.js")
		
	//- tabs--------------------------
	//- script(src="js/libs/tabs/tabs-pure.js")
		
	//- micromodal--------------------------
	//- script(src="js/libs/micromodal/micromodal.js")	
		
	//- swiper--------------------------
	//- script(src="js/libs/swiper/swiper.min.js")

	//- noUiSlider--------------------------
	//- script(src="js/libs/noUiSlider/nouislider.min.js")

	//- iMask--------------------------
	//- script(src="js/libs/imask/imask.js")

	//- FormHandler--------------------------
	//- script(src="js/libs/formhandler.js-1.1.2/dist/js/FormHandler.min.js")

	//- ratings--------------------------
	//- script(src="js/libs/rating/ratings.js")

	//- sticky-sidebar--------------------------
	//- https://abouolia.github.io/sticky-sidebar/#usage
	//- script(src="js/libs/sticky-sidebar/dist/resizeSensor.js")
	//- script(src="js/libs/sticky-sidebar/dist/sticky-sidebar.min.js")

	//- simplebar--------------------------
	//- USE:	new SimpleBar(document.querySelector('mySelector'), { autoHide: false });
	//- script(src="js/libs/simplebar/simplebar.min.js")
		
	//- fstdropdown (кастомный селект), исп-е.: <select data-searchdisable="true" class="fstdropdown-select">
	//- script(src="js/libs/fstdropdown/fstdropdown.min.js")

	//- baguetteBox-------------------------- use: https://github.com/feimosi/baguetteBox.js#usage
	//- script(src="js/libs/baguetteBox/dist/baguetteBox.min.js")

	//- svg4everybody--------------------------
	//- script(type="text/javascript" src="js/libs/svg4everybody/svg4everybody.min.js" async onload="svg4everybody();")
		
	//- end VANILLA JS===================================