.filter-tags
	-var tags = [{name: 'Комплекс для отдыха', icon: 'type'}, {name: 'Интересные локации', icon: 'camera'}, {name: 'Отдых с детьми', icon: 'children'}, {name: 'Активный отдых', icon: 'helmet'}, {name: 'Оздоровительный отдых', icon: 'lotus'}, {name: 'Туры', icon: 'minibus'}, {name: 'Эко-отдых', icon: 'eco'}, {name: 'Винодельни', icon: 'grape'}, {name: 'Туристические города', icon: 'cities'}];
	each tag, ind in tags
		div(class=ind === 2 || ind === 7 ? "filter-tag active" : "filter-tag")
			span(class="filter-tag__icon icon-" + tag.icon)
			span.filter-tag__name= tag.name
			span.icon-close