.resuls-map__tooltip
	.result-card.similar_slide
		.similar_slide-imgs.img_slider
			.similar_slide-img(style='background-image: url(img/similar_slide.jpg);')
				span.icon-place_type
			.similar_slide-img(style='background-image: url(img/place_img6.png);')
				span.icon-place_type
			.similar_slide-img(style='background-image: url(img/place_page.png);')
				span.icon-place_type

		.similar_slide-info
			.similar_slide-top
				a(href="#").room_card-title Арт-пространство Винзавод
				.similar_slide-like
					span.icon-like_card
			
			a(href="#").result-card__link
				.similar_slide-adres
					span.icon-place_contacts-item2
					.similar_slide-adres_title
						| Московская область, Сергиево-ПосадсПосадсПосадсПосадс
					.similar_slide-adres_distance
						| 250км
				.similar_slide-text
						| На берегу Волги, в окружении загородной природы разместился эко-отель Веточ..
				
				.similar_slide-link
					.similar_slide-sutitle
						.similar_slide-rating
							| 8.1/10
							span.icon-rating

						.similar_slide-reviews 11 отзывов

					.result-card__bottom-box
						.result-card__reservation
							span.icon-hotel
							| Бронь от отеля
						.similar_slide-btn.btn Подробнее