/*=====================ARTICLE-PAGE=========================*/
.page-article {
	// padding-top: 104px;

	.breadcrumbs{
		margin-bottom: 32px;

		@include max-screen(991.98px){
			display: none;		
		}

	}
	.crumbs{
		@include max-screen(991.98px){
			position: relative;		
		}
	}
	
}
.breadcrumbs{
	display: flex;
	flex-wrap: wrap;
	li{
		position: relative;

		&:not(:last-child){
			
			&:after{
				content: '/';
				display: inline-block;
				vertical-align: middle;
				margin-left: 8px;
				margin-right: 8px;
				color: rgba(34, 34, 34, 0.45);
			}
		}
		
		a{
			font-size: 14px;
			text-decoration: none;
			color: rgba(34, 34, 34, 0.45);
		}
		span{
			font-size: 14px;
			color: rgba(34, 34, 34, 0.85);
		}

	}
}
.place {}
.container {}
.article {
	margin: 0 auto;
	max-width: 794px;
	padding-bottom: 50px;
	border-bottom: 1px solid #F0F0F0;

	@include max-screen($md){
		padding-bottom: 32px;
	}  

	h1{
		margin-bottom: 33px;
		font-weight: 500;
		font-size: 42px;
		line-height: 50px;

		@include max-screen($md){
			margin-bottom: 16px;
			font-size: 32px;
			line-height: 40px;
		}
	}

	h2{
		margin-top: 40px;
		margin-bottom: 24px;
		font-weight: 500;
		font-size: 32px;
		line-height: 38px;

		@include max-screen($md){
			margin-top: 32px;
			font-size: 22px;
			line-height: 26px;
		}
	}

	p{
		margin-bottom: 16px;
		opacity: 0.6;
		font-size: 14px;
		line-height: 17px;
	}
}
.article__header{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.article__download{
	position: relative;
	top: -10px;
	width: 52px;
	height: 52px;
	flex-shrink: 0;
	margin-left: 30px;
	background: #FFFFFF;
	border-radius: 44px;

	@include max-screen($md){
		position: absolute;
		width: 42px;
		height: 42px;
		top: 50%;
		margin-top: -21px;
		right: 0;
	}
	@include min-screen($md){
		cursor: pointer;
	}
	
	.icon-donwload{
		@include absolute-center;
		font-size: 18px;
		color: #7A7A7A;
	}
}
.article__object {


}
.object-article__img {
	padding-bottom: 0;
	margin-bottom: 16px;
	height: 416px;
	overflow: hidden;
	border-radius: 12px;

	@include max-screen(1230px){
		height: 0;
		padding-bottom: prc(416, 694);
	}
	@include max-screen(375px){
		height: 180px;
		padding-bottom: 0;
	}
	@include max-screen(350px){
		height: 0;
		padding-bottom: prc(416, 694);
	}
}
.object-article__coords {
	margin-bottom: 24px;
	font-size: 14px;
line-height: 17px;
}

.button-forward {
	display: inline-flex;
	height: 52px;
	padding-left: 24px;
	padding-right: 24px;
	font-weight: 500;
font-size: 14px;

	&:hover{
		.icon-button-forward {
			color: #fff;
		}
		
	}
	
}
.article__date {
	margin-top: 50px;
	font-size: 12px;
	line-height: 18px;
	opacity: 0.4;

	@include max-screen($md){
		margin-top: 42px;
	}
}
/*===================== end ARTICLE-PAGE======================*/ 