/*--------------------contacts-page----------------------*/
.page-contacts {
	padding-top: 136px;
}
.contacts-content {
	padding: 32px 24px;
	background: #FFFFFF;
	border-radius: 12px;
}
.contacts-header {
	margin-bottom: 32px;
}
.contacts-header__title {
	margin-bottom: 10px;
	font-weight: 500;
font-size: 42px;
line-height: calc(50/42);
}
.contacts-header__caption {
	max-width: 457px;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	opacity: 0.5;
}
.contacts-info {
	display: flex;
	flex-wrap: wrap;
	row-gap: 8px;
	column-gap: 40px;
	margin-bottom: 64px;
}
.contacts-info__form {
	flex: 0 1 457px;
	.btn {
		height: 52px;
		width: 128px;
	}
}
.form_inp-wrapper {}
.form_inp-title {}
.form_inp {}
.contacts-info__form-bottom {
	margin-bottom: 16px;
	margin-top: 24px;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	color: #A7A7A7;

	a{
		color: $accent;
	}
}
.contacts-address {
	padding: 24px;
	flex: 0 1 537px;
	border: 1px solid #F4F4F4;
	box-sizing: border-box;
	border-radius: 12px;
}
.address-contacts {}
.address-contacts__row {
	display: flex;
	// flex-wrap: wrap;
	row-gap: 8px;
	column-gap: 32px;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;

	&:not(:last-child){
		margin-bottom: 16px;
	}
}
.address-contacts__key {
	opacity: 0.6;
	flex: 0 0 156px;
}
.address-contacts__value {
	flex: 1 0 auto;
	color: $text;
}
.contacts-requisites {}
.contacts-requisites__title {}
.contacts-requisites__row {}
/*--------------------END contacts-page----------------------*/ 