.page-p-method{
	padding-top: 112px;
}
.page-p-method__content{
	padding: 32px 24px 40px;
	background: #FFFFFF;
	border-radius: 12px;

	@include max-screen($sm){
			padding: 32px 16px;
		}  

	h1{
		margin-top: 0;
		margin-bottom: 32px;
		font-weight: 500;
		font-size: 42px;
		line-height: calc(50 / 42);

		@include max-screen($md){
			font-size: 32px;
		}  
	}

	h3{
		margin-bottom: 24px;
		font-weight: 500;
		font-size: 24px;
		line-height: cacl(29/24);

		@include max-screen($md){
			font-size: 22px;
		}  
	}

	p{
		// margin-top: 16px;
		
		font-size: 14px;
		line-height: 17px;
		color: rgba(#222222, .6);

		&:not(:last-child){
			margin-bottom: 32px;
		}
	}
	ul{
		margin: 32px 0;
		padding-left: 20px;
		li{
			list-style-type: disc;
			font-size: 14px;
			line-height: 17px;
			color: rgba(#222222, .6);
		}
	}
	.page-p-method__list{
		.page-p-method__item{
				line-height: 200%;
					// vertical-align: middle;

				img{
					// display: inline-block;
					margin-left: 8px;
					margin-top: -2px;
					vertical-align: middle;
				}

				&--mir{
					img{
						width: 42px;
					}
				}
				&--visa{
					img{
						width: 37px;
					}
				}
				&--mastercard{
					img{
						width: 24px;
					}
				}
				&--jcb{
					img{
						width: 22px;
					}
				}
				&--paykeeper{
					img{
						width: 180px;
					}
				}
		}
	}
}