/*--------------------popups----------------------*/
.popup {
	background: #FFFFFF;
	border-radius: 12px;
		max-width: 602px;
		
	&.fancybox-content{
		@include max-screen(575.98px){
			margin-top: 0;
			
		}
	}

	&.popup-advertising {


		@include max-screen($xs){
			height: 100%;
			border-radius: 0;
		}

		&.fancybox-content{
			padding: 0;
		}

		.popup__form{
			padding: 60px 80px;

			@include max-screen($xs){
				height: 100%;
				padding: 104px 16px 32px 16px;
				display: flex;
				flex-direction: column;
			}

			.btn{
				margin-top: 24px;
				@include max-screen($xs){
					margin-top: auto;
					flex-shrink: 0;
				}
			}
		}
	}

	.fancybox-close-small {
	    top: 15px;
	    right: 13px;
	}

	.btn {
		height: 52px;
		font-size: 14px;
		font-weight: 500;
	}
}
.popup__title {
	margin-bottom: 16px;
	font-weight: 500;
	font-size: 32px;
	line-height: 38px;
	text-align: center;

	@include max-screen($md){
		margin-bottom: 8px;
		font-size: 28px;
		line-height: 40px;
	}
}
.popup__text {
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: rgba(#222222, .6);
}
.popup__form {
	
	.btn {
		margin-top: 24px;
		width: 100%;
	}
}
.popup__form-content{
	margin-bottom: 48px;

	@include max-screen($md){
		margin-bottom: 40px;
	}
}
.footer_menu li:last-of-type a,
.footer_menu li:nth-last-of-type(2) a{
	@include max-screen($xss){
		white-space: normal;
		
	}
}

.popup-successfully{
	padding: 60px 80px;
	flex-direction: column;
	justify-content: center;

	@include max-screen($xs){
		height: 100%;
		border-radius: 0;
		padding: 32px 16px;
	}

	&.fancybox-content{
		@include max-screen($xs){
			display: inline-flex !important;

		}
	}

	.btn{
		margin-top: 32px;	
		width: 100%;
	}
}
.popup-successfully__content{
	flex: 1 0 auto;

	@include max-screen($xs){
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: -160px;
	}
}

.popup-place-object {
	max-width: 790px;
	padding: 22px 34px 24px 22px;

	@include max-screen(600px){
		padding: 24px 16px;
		height: 100%;
	}
	@include max-screen($xs){
		border-radius: 0;
	}
	.popup__title {
		margin-bottom: 10px;
		@include max-screen($xs){
			margin-bottom: 16px;
			max-width: 217px;
			font-size: 24px;
			line-height: 29px;
			text-align: left;
		}
	}
	.popup__text {
		@include max-screen($xs){
			margin-bottom: 47px;
			text-align: left;
		}
	}
}
.dropzone {}
.popup-place-object__columns {
	display: flex;
	flex-wrap: wrap;
	column-gap: 32px;
	row-gap: 16px;
	padding: 0;
	margin-top: 25px;
	border: none;

	@include max-screen($xs){
		row-gap: 0;
	}
}
.popup-place-object__column {
	flex: 0 0 calc(100% - 374px - 32px);

	@include max-screen($sm){
		flex: 1 1 calc(50% - 32px);
	}
	@include max-screen(600px){
		flex-basis: 100%;
	}


	&:first-child{
		@include max-screen($xs){
			margin-bottom: 32px;
		}
	}

	&:nth-child(3){
		padding-top: 16px;

		@include max-screen(600px){
			order: 1;
		}
		@include max-screen($xs){
			padding-top: 0;
			margin-top: 16px;
			margin-bottom: 26px;
		}
	}
	&:nth-child(odd){
		flex: 0 0 374px;

		@include max-screen($sm){
			flex: 1 1 calc(50% - 32px);
		}
		@include max-screen(600px){
			flex-basis: 100%;
		}
	}

	.dz-message{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 0;
		margin-bottom: 0;
		height: 166px;
		border: 1px dashed rgba(252, 103, 51, 0.6);
		border-radius: 12px;

		&.previewed{
			@include max-screen($sm){
				height: 90px;
			}

		}
		div{
			margin-bottom: 6px;
			font-size: 14px;
			line-height: 19px;
			position: relative;

			.icon-file{
				display: inline;
				font-size: 18px;
				color: $accent;
				vertical-align: middle;
				margin-right: 6px;
			}
		}
		span{
			display: block;
			max-width: 281px;
			margin: 0 auto;
			font-size: 10px;
			line-height: 12px;
			color: rgba(34, 34, 34, 0.4);

			opacity: 0.6;
		}
	}

	.form_inp-wrapper {

		&:last-child{
			margin-bottom: 0;
		}


	}
}
// .popup-place-object__block{
// 	&:not(:last-child){
// 		margin-bottom: 32px;
// 	}
// }
.popup-place-object__title{
	margin-bottom: 16px;
	font-weight: 500;
font-size: 16px;
line-height: 19px;
}
.form_inp {}
.dz-message {}
.needsclick {}
.popup-place-objec__previews {
	display: flex;
	flex-wrap: wrap;
	column-gap: 8px;
	row-gap: 16px;

	@include max-screen($xs){
		padding-top: 16px;
		row-gap: 0;

	}
}

.popup-place-object__bottom {
	margin-top: 9px;
	text-align: right;

	@include max-screen($xs){
		margin-top: 0;
	}
	.btn {
		display: inline-flex;
		height: 52px;
		width: 128px;
		font-weight: 500;
		font-size: 14px;

		@include max-screen($xs){
			width: 100%;
		}
	}
}

.dropzone{
	display: flex;
	/*flex-direction:column-reverse;*/

}
.column{
	flex: 0 0 50%;
}
.dz-image-preview{
	position: relative;
}
.dropzone .dz-preview.dz-file-preview .dz-image{
	border-radius: 0;
}
.dropzone .dz-preview .dz-image{
	width: 86px;
	height: 86px;
	object-fit: cover;
}
.dropzone .dz-preview{
	min-width: 100px;
	border: 1px solid rgba(34, 34, 34, 0.1);
	border-radius: 2px;
	width: 104px;
	height: 104px;
	margin: 0;
	/*background-color: gray;*/


		@media (any-hover: hover) { //только для устройств с ховером
			&:hover{
				.dz-details{
					&:before{
						opacity: 1;
					}
				}
				[data-dz-remove]{
					opacity: 1;
				}

			}
		}
}
.dropzone .popup-place-objec__previews .dz-preview{
	@include max-screen($xs){
			margin-bottom: 16px;
		}
}
[data-dz-remove]{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 21;
	opacity: 0;
	transition: opacity .3s;

	@include max-screen($md){
		opacity: 1;
		transform: none;
		top: 9px;
		right: 9px;
		left: auto;
		width: 30px;
		height: 30px;
	}

	@include min-screen($md){
		cursor: pointer !important;
	}

	.icon-delet_b{
		color: #fff;
		font-size: 14.3px;
		@include absolute-center;

		@include max-screen($md){
			top: 6px;
			right: 6px;
			transform: none;
			left: auto;
		}
		@include min-screen($md){
			cursor: pointer !important;
		}
	}
}
// .dz-preview:not(.dz-image-preview) [data-dz-remove]{
// 	display: none;
// }
.dz-preview.dz-complete:not(.dz-image-preview) .dz-progress{
	opacity: 1;
}
.dz-preview.dz-file-preview:not(.dz-image-preview) .dz-progress{
	opacity: 0;
}
.dz-preview:not(.dz-complete) .dz-image{
	display: none;
}
.dz-preview:not(.dz-complete) [data-dz-remove]{
	display: none;		
}
.dropzone .dz-preview .dz-details{
	padding: 9px;
	position: relative;
	opacity: 1;
}
 .dropzone .dz-error{
 	border-color: red;
}
.dropzone .dz-preview .dz-details:before{
	content: '';
	position: absolute;
	top: 9px;
	left: 9px;
	width: 86px;
	height: 86px;
	background-color: rgba(#000, .5);
	z-index: 11;
	opacity: 0;
	transition: opacity .3s;

	@include max-screen($md){
		opacity: 1;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 14.53%, rgba(0, 0, 0, 0) 50%);
	}
}
.dropzone .dz-preview:not(.dz-complete) .dz-details:before{
	@include max-screen($md){
		// opacity: 0;
		display: none;
	}

}

.dropzone .dz-preview .dz-details img{
	border-radius: 0;

}
.dropzone .dz-preview .dz-progress{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: calc(100% - 18px);
	height: calc(100% - 18px);
	background-color: transparent;
	/*background-color: orange;*/
	position: absolute;
	left: 9px;
	top: 9px;
	margin-left: 0;
	margin-top: 0;
	/*transform: translate(-50%, -50%);*/
	z-index: 22;
}
.dz-text{
	margin-bottom: 18px;
	display: block;
	font-size: 10px;
	line-height: 22px;
	text-align: center;
	color: rgba(0, 0, 0, 0.85);
}
.dz-upload{
	position: static;
	background-color: orange;
}
.dz-upload-wrap{
	position: relative;
	// width: 100%;
	height: 2px;
	background: #F5F5F5;
	border-radius: 100px;
}
.dropzone .dz-preview .dz-progress .dz-upload{
	position: absolute;
	left: 0;
	top: 0;
	height: 2px;
	background: orange;
	display: block;
	border-radius: 100px;

}
.dropzone .dz-preview .dz-progress{
	overflow: visible;
}
.dropzone .dz-preview .dz-error-message{
    top: 93px;
    left: 50%;
    transform: translateX(-50%);
}
.popup-gratitude{
	padding: 60px 80px 80px 80px;
	max-width: 602px;

	@include max-screen($xs){
		padding: 16px;
		height: 100%;
		border-radius: 0;
	}  
}
.popup-gratitude__content{
	display: flex;
	flex-direction: column;

	@include max-screen($xs){
		height: 100%;
		justify-content: center;
	}  
	
	.popup__title{
		margin-bottom: 16px;
	}
	.popup__text{
		margin-bottom: 32px;
	}

	.btn{
		width: 100%;
	}
}
.fancybox-bg::after{
	@include max-screen(575.98px){
		height: auto;	
	}
}
/*--------------------END popups----------------------*/ 