/*--------------------search-results-page----------------------*/
html{
	&.map-open{
			overflow: hidden;
			height: 100%;
			body{
			overflow: hidden;
			height: 100%;
		}
	}
	&.mob-filters-open{
			overflow: hidden;
			height: 100%;	
		body{
			overflow: hidden;
			height: 100%;
		}
		.results-filter,
		.results-filter__header,
		.results-filter__buttons{
			visibility: visible;
			opacity: 1;
			left: 0;
		}
	}

	&.filter-calendar-open{

		.results-filter__item--dates{
			.item-results-filter__dd{
				width: 100%;	
				position: fixed;
				bottom: 0;
				left: 0;
				top: auto;
				z-index: 13;

				.form_inp,
				.item-results-filter__divide,
				.item-results-filter__calendar-button {
					display: none;
				}
				.item-results-filter__buttons{
					padding: 16px 24px 24px 24px;
					display: flex;
				}
			}
		}
		.item-results-filter__dd .easepick-wrapper{
			visibility: visible;
			opacity: 1;
		}
		.filter-cover{
			visibility: visible;
			opacity: .34;
		}
	}
	.results-filter__item--dates .item-results-filter__dd{
		margin-bottom: 0;
	}
}
.page-search-resuls {
	.title-with-dd {
		padding-top: 40px;
		@include max-screen($md){
			padding-top: 0;
		}
	}
	.crumbs{
		@include max-screen($sm){
			margin-bottom: 12px;
		}
	}
	.place_service-item-icon {
		color: $accent;
	}

	.interesting{
		padding: 0;

		@include max-screen(991.98px){
			padding: 0;
		}
		@include max-screen(575.98px){
			padding: 0;
		}
	}
}
.place {}
.container {}
.crumbs {}
.crumbs_back {}
.icon-back {}
.title-with-dd {
	padding-top: 40px;
	@include adaptive-value('font-size', 42, 31, 1);
	@include adaptive-value('margin-bottom', 45, 31, 1);
	font-size: 42px;
	line-height: calc(50 / 42);
	font-weight: 500;

	span{
		margin-right: 16px;
	}
	a{
		position: relative;
		color: $accent;
		border-bottom: 1px dashed #FC6733;

		// &:after{
		// 	content: '';
		// }
	}
}
.filter-tags-wrapper{
	position: relative;
	transition: all .3s;
	
	@include max-screen($md){
		margin-right: -15px;
		height: 51px;
		margin-top: -10px;
		overflow: hidden;
	}

	@include max-screen($xs){
		height: 36px;
	}  

	&.cover-disabled{
		.filter-tags-wrapper__cover{
			display: none;
		}
	}
	&.fixed{
		position: fixed;
		width: calc(100% - 15px);
		left: 15px;
		top: 10px;
		height: 72px;
		padding-top: 8px;
		padding-bottom: 14px;
		background-color: #F9F9FA;
		z-index: 5;

		@include max-screen($xs){
			// height: 66px;
			height: 59px;
			padding-top: 0;
			margin-top: 0;
		}  
		
		.filter-tags{
			padding-bottom: 21px;
			&:not(:last-child) {
			    margin-bottom: 0;
			}
			@include max-screen($xs){
				margin-top: 15px;
				padding-bottom: 34px;
			}  
		}
	}
	.filter-tags{
		margin-top: 10px;
		padding-bottom: 15px;
	}
}
.filter-cover{
	visibility: hidden;
	opacity: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #222222;
	z-index: 11;
	transition: all .3s;
}
.filter-tags {
	display: flex;
	flex-wrap:wrap;
	gap: 10px;
	position: relative;
	padding-bottom: 24px;
	border-bottom: 1px solid rgba(#222222, .05);

	@include max-screen($md){
		flex-wrap: nowrap;
		overflow-x: auto;
		padding-bottom: 5px;
	}

	&:not(:last-child){
		margin-bottom: 24px;
		
	}
}
.filter-tags-wrapper__cover{
	width: 31px;
	height: 100%;
	position: absolute;
	z-index: 2;
	right: -1px;
	top: 0;
	background: linear-gradient(270deg, #F9F9FA 29.03%, rgba(249, 249, 250, 0) 100%);

	@include min-screen($md){
		display: none;
	}
}
.filter-tag {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 10px 12.68px;
	background: #FFFFFF;
	border-radius: 20px;

	@include max-screen($md){
		flex: 0 0 auto;

	}
	@include max-screen($xs){
		height: 26px;
		padding: 5px 8px;
	}

	@include min-screen($md){
		cursor: pointer;
		
	}  

	&.active{
		background-color: $accent;
		color: #fff;
		.icon-delete {
			display: block;
		}

	}
	.icon-delete {
		display: none;
		margin-left: 9.73px;
		color: #fff;
		font-size: 12px;
	}

}

.filter-tag__icon{
	font-size: 17px;
	&.icon-type {
		font-size: 24px;
	}
}
.filter-tag__name {
	margin-left: 8.6px;
	font-size: 14px;

	@include max-screen($xs){
		font-size: 12px;
	}
}
.results-filter {
	display: flex;
	justify-content: space-between;

	--height: 100%;

	@include max-screen($md){
		position: fixed;
		width: 100%;
		// height: 100%;
		height: var(--height);
		display: block;
		left: -100%;
		top: 0;
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 11;
		background-color: #fff;
		visibility: hidden;
		opacity: 0;
		transition: all .4s;
	}

	// &.active{
	// 	visibility: visible;
	// 	opacity: 1;
	// 	left: 0;
	// }
}
.results-filter__header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 23px 16px 39px 16px;
	height: 98px;
	position: fixed;
  z-index: 11;
  width: 100%;
  top: 0;
  left: -100%;
	visibility: hidden;
	opacity: 0;
  background-color: #fff;
  transition: all .4s;

	@include min-screen($md){
		display: none;
	}
}
.header-results-filter__title{
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
} 
.header-results-filter__close{
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.results-filter__items{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;

	@include max-screen($md){
		flex-direction: column;
		display: flex;
		padding-top: 98px;
		padding-bottom: 66px;
	}
}
.results-filter__item {
	display: flex;
	position: relative;
	height: 48px;
	align-items: center;
	padding: 8px 20px;
	background: #FFFFFF;
	border-radius: 44px;

	@include max-screen($md){
		height: auto;
		display: block;
		box-shadow: none;
		padding-left: 19.5px;
		padding-right: 19.5px;
		border-radius: 0;
	}

	@include min-screen($md){
		cursor: pointer;
	}

	&--services{
		.item-results-filter__dd{
			width: 421px;

			@include max-screen($md){
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	&--dates{
		.item-results-filter__dd{
			padding: 0 13px 24px 13px;
			width: auto;

			@include max-screen($md){
				padding: 0;
				margin-bottom: 10px;
			}
		}
		.item-results-filter__name{
			@include max-screen($md){
				margin-bottom: 16px;
			}
		}
	}
	&--cities{
		@include max-screen($md){
			order: 1;
		}
		.item-results-filter__name{
			@include max-screen($md){
				margin-bottom: 27px;
			}
		}  
		.item-results-filter__dd{
			.btn{
				@include max-screen($md){
					display: none;
				}  
			}
		} 
	}
	&--prices{
		@include max-screen($md){
			margin-bottom: 10px;
		} 
		.item-results-filter__dd{
			.item-results-filter__form{
				@include max-screen($md){
					margin-bottom: 0;
				}
			}
			.btn{
				@include max-screen($md){
					display: none;
				}  
			}
		} 
	}
	&.active{
		.item-results-filter__dd {
			visibility: visible;
			opacity: 1;
		}
	}
	.form_inp{
		position: absolute;
		width: 197px;
		height: 48px;
		top: -48px;
		left: 0;
		opacity: 0;

		@include max-screen($md){
			opacity: 1;
			position: static;
		}
	}
	.icon-faq_arrow{
		@include max-screen($md){
			display: none;
		}
	}
}
.item-results-filter__buttons{
	padding-top: 5px;
	display: flex;
	justify-content: center;
	gap: 16px;
	// padding: 0 24px;
	.btn-sm{
		flex: 0 1 163.5px;
	}
	@include max-screen($md){
		display: none;
		flex: 0 1 157.5px;
	}
}
.results-filter__buttons{
	position: fixed;
	// display: none;
	display: flex;
	padding: 13px 16px;
	width: 100%;
	height: 66px;
	overflow: hidden;
	bottom: 0;
	left: -100%;
	visibility: hidden;
	opacity: 0;
	z-index: 10;
	gap: 10px;
	background: #FFFFFF;
	box-shadow: 0px -4px 54px rgba(157, 157, 157, 0.2);
	transition: all .4s;

	@include min-screen($md){
		display: none;
	}

	a{
		flex: 1 1 50%;
	}
}
.btn-sm{
	height: 40px;
	// width: 163px;
	font-size: 14px;
}
.item-results-filter__calendar-button{
	width: 44px;
	height: 44px;
	position: relative;
	background: #FC6733;
	border-radius: 8px;
	margin-left: 8px;
	flex-shrink: 0;

	@include min-screen($md){
		display: none;
	}

	span{
		font-size: 20px;
		color: #fff;
		@include absolute-center;
	}
}
.item-results-filter {}

.item-results-filter__name {
	margin-right: 12px;
	font-size: 14px;

	@include max-screen($md){
		margin-bottom: 20px;
		font-size: 16px;
	}
}
.item-results-filter__sort-key{
	margin-left: 10px;

	@include max-screen($md){
		display: none;
	}  
}
.item-results-filter__caption{
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 22px;

	@include max-screen($md){
		display: none;
	}
}
.icon-faq_arrow {}
.item-results-filter__dd {
	position: absolute;
	z-index: 2;
	top: 105%;
	left: 0;
	width: 368px;
	padding: 16px;
	background: #FFFFFF;
	box-shadow: 0px 4px 24px rgba(34, 34, 34, 0.25);
	border-radius: 12px;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	cursor: auto;

	@include max-screen($md){
		opacity: 1;
		visibility: visible;
		position: static;
		width: 100%;
		box-shadow: none;
		padding: 0;
		border-radius: 0;
		// margin-bottom: 40px;
	}

	.place_service-item {
		&.active{
			color: #fff;
			background-color: $accent;
			border-color: $accent;

			.place_service-item-icon{
				color: #fff;
			}
		}

		@include max-screen($xs){
			font-size: 14px;
			line-height: 1.5;
			padding: 8px 8px 8px 40px;
		}
		@include min-screen($md){
			cursor: pointer;
		}

		&:last-child{
			margin-right: 0;	
		}

		&.disabled{
			background-color: rgba(34, 34, 34, 0.1);
			color: #fff;
			border-color: transparent;

			.place_service-item-icon{
				color: #fff;
			}
		}
		span{
			@include max-screen($xs){
				font-size: 24px;
				height: inherit;
			}
		}
		.place_service-item-icon{
			color: $accent;
		}
	}
	.easepick-wrapper{
		position: relative !important;
		// pointer-events: all !important;
		@include max-screen($md){
			position: absolute !important;
			visibility: hidden;
			opacity: 0;
			bottom: 72px;
			width: 100%;
		}
	}
	.range-top{
		display: none;
	}
	.range-slider-wrapper{
		display: flex;
	}
	.range-slider-wrapper__sector{
		flex: 0 0 10%;
		height: 3px;
		background-color: $accent;

		&:last-of-type{
			background-color: #E5E5E5;
		}

	}
	.range-slider{
		flex: 0 0 80%;

	}
	.range{
		height: 50px;

		.noUi-base{
			// z-index: 2;
		}
		.noUi-target{
			background-color: #E5E5E5;
			border: none;
			border-color:  #E5E5E5;
		}
		.noUi-horizontal{
			height: 3px;
		}
		.noUi-marker-horizontal.noUi-marker-large{
			height: 10px;
			width: 3px;
			background-color: #E5E5E5;
			z-index: 3;

			&.active{

				background-color: $accent;
			}
			&.downed{
				z-index: 0;
			}
		}
		.noUi-value{
			padding-top: 7px;
			// margin-top: -33px;
			z-index: 1;
			font-weight: 500;
			font-size: 14px;
			line-height: 14px;
			color: rgba(34, 34, 34, 0.4);

			&.active{
				color: #000;
			}
		}
		.noUi-connect{
			height: 3px;
			top: 0;
			background-color: $accent;
			margin-left: -15px;
		}
		.noUi-horizontal .noUi-handle{
			width: 19px;
			height: 19px;
			left: 50%;
    	transform: translateX(-50%);
			margin-top: -9px;
			background-color: #fff;
			border-color: $accent;

			&:before {
			  content: "\e923";
			  font-family: 'icomoon' !important;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				color: $accent;
				display: block;
				@include absolute-center-old;
				// left: 0;
				font-size: 8px;
				width: 15px;
				height: 15px;
				background-color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;

			}
		}
	}
	.noUi-pips{
		// position: relative;
		top: -14px;
		div{
			// &:first-of-type{
			// 	display: none;
			// }

			// &:last-of-type{
				
			// 	display: none;
			// }

			// &:nth-child(2), &:nth-child(13){
			// 	display: none;
			// }

			// &:nth-child(4), &:nth-child(12){
			// 	color: #000;
			// }
			&:not(:last-child){
			}
		}
	}
}
.item-results-filter__inputs{
	display: flex;
	align-items: center;

	@include min-screen($md){
		margin-bottom: 10px;
	}

	.form_inp{
		@include max-screen($md){
			flex: 1 1 129px;
			width: 0;
			padding-left: 16px;
			border: 1px solid rgba(26, 27, 50, 0.2);
			border-radius: 8px;
			font-size: 16px;
		}
		@include max-screen(360px){
			padding-left: 5px;
		}
	}
	.item-results-filter__divide{
		width: 10px;
		height: 2px;
		margin: 0 8px;
		background-color: rgba(26, 27, 50, 0.2);

		@include min-screen($md){
			display: none;
		}
	}
}
.results-filter__map-open{
	font-size: 14px;
	flex-shrink: 0;

	@include max-screen($md){
		display: none;
	}

	.icon-place_contacts-item2{
		margin-right: 10px;

		&:before{
		font-size: 19px;
			color: #222222;
		}
	}
}

.item-results-filter__form {
	margin-bottom: 24px;
}
.item-results-filter__label {
	display: flex;
	align-items: center;
	position: relative;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	&:not(:last-child){
		margin-bottom: 17px;
	}

	@include min-screen($md){
		cursor: pointer;
		
	}
}
.item-results-filter__input {
	@include checkbox;

	&:checked + .item-results-filter__radio {
		border-color: $accent;
		&:before{
			display: block;
		}
	}
}
.item-results-filter__radio {
	width: 20px;
	height: 20px;
	flex-shrink: 0;
	border-radius: 50%;
	border: 2px solid rgba(#222222, .2);
	position: relative;
	margin-right: 10px;

	&:before{
		content: '';
		width: 10px;
		height: 10px;
		@include absolute-center;
		display: none;
		border-radius: inherit;
		background-color: $accent;
	}

}
.item-results-filter__radio-value {
	font-size: 14px;
}
.resuls-map {
	position: fixed;
	z-index: 21;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(#000, .3);
	// visibility: hidden;
	transition: all .3s;
	transform: translate3d(100%, 0, 0);

	--height: 100%;

	@include max-screen($md){
		height: var(--height);
	}  

	&.active{
		visibility: visible;
		transform: translate3d(0, 0, 0);
	}
}
.resuls-map__close {
	width: 36px;
	height: 36px;
	position: absolute;
	top: 32px;
	right: 32px;
	border-radius: 50%;
	background-color: #f9f9fa;
	cursor: pointer;
	z-index: 2;
	
	.icon-delete {
		color: $accent;
		@include absolute-center;
	}

	@include max-screen($md){
		top: 16px;
		right: 17px;
	}
}
.resuls-map__map {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	& > ymaps{
		width: 100% !important;

		& > ymaps{
			width: 100% !important;

		}
	}
}
.resuls-map__bottom {
	max-width: 902px;
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	left: 0;
	margin: auto;

	@include max-screen($md){
		padding-top: 8px;
		padding-bottom: 8px;
		background: rgba(249, 249, 250, 0.3);
		backdrop-filter: blur(4px);
		
		@supports (backdrop-filter: blur(4px)) or (--webkit-backdrop-filter: blur(4px)){// определение поддержки блюра без джаваскрипт
			background-color: rgba(255, 255, 255, .3);
			backdrop-filter: blur(4px);
		}
		
	}  
	
	.filter-tags {
		justify-content: center;
		border-bottom: none;

		&::-webkit-scrollbar {
		    visibility: hidden;
				height: 0;
				width: 0;
			@include max-screen($md){
			}  
		}

		@include max-screen($md){
			flex-wrap: wrap;
			overflow: visible;
		}
		@include max-screen($sm){
			row-gap: 8px;
			column-gap: 24px;
			padding: 0 15px;

		}
	}
	.filter-tags__cover{
		display: none;
	}
	.filter-tag {
		box-shadow: 0px 4px 24px rgba(34, 34, 34, 0.25);

		@include max-screen($sm){
			border-radius: 50%;
			width: 44px;
			height: 44px;
			padding: 0;
			justify-content: center;
			align-items: center;
			
		}  

		&.active{
			@include max-screen($md){
				
				background-color: #fff;
			}  
			.filter-tag__icon{
				color: #fff;
				@include max-screen($md){
					color: $accent;

				}
			}
		}

		.filter-tag__icon{
			color: #7A7A7A;
			@include max-screen($sm){
				font-size: 21px;
			}
			&.icon-type{
				@include max-screen($sm){
					font-size: 30px;
				}
			}
		}
		.filter-tag__name,
		.icon-delete{
			@include max-screen($sm){
				display: none;
			}  
		}
	}
}
.results-mobile-toggler {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 10;
	bottom: 16px;
	left: 0;
	right: 0;
	margin: auto;
	width: 285px;
	padding: 0 4px;
	background: #FFFFFF;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
	border-radius: 44px;

	@include min-screen($md){
		display: none;
	}
}
.results-mobile-toggler__item {
	width: 50%;
	position: relative;
	padding-left: 25px;
	padding-right: 5px;
	display: flex;
	height: 44px;
	align-items: center;
	font-size: 14px;

	&:not(:last-child){

		&:after{
			content: '';
			position: absolute;
			width: 1px;
			right: -0.5px;
			top: 50%;
			margin-top: -7px;
			height: 14px;
			background-color: #CCCCCC;
		}
	}

}
.results-mobile-toggler__icon{
	margin-right: 10px;
	color: $accent;
}
.search-resuls-plug {
	padding-top: 74px;
	min-height: 300px;
	text-align: center;

	.icon-search-big{
		font-size: 45px;
		color: $accent;
	}

	p{
		margin: 0 auto;
		max-width: 492px;
		font-size: 14px;
		line-height: 22px;
		color: rgba(#222222, .4);
	}
}
.search-resuls-plug__icon {
	width: 45px;
	height: 45px;
	margin: 0 auto 24px auto;
}
.search-resuls-plug__title {
	margin-bottom: 12px;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}
/*--------------------END search-results-page----------------------*/ 