/*--------------------search-results-page----------------------*/
html{
	&.filter-buttons-open{
		.results-filter__buttons{
			display: flex;
		}
	}
	&.filter-calendar-open{
		.filter-cover{
			// display: block;
			.item-results-filter__dd{
				width: 100%;	
				position: absolute;
				bottom: 0;
				left: 0;
				top: auto;
				z-index: 13;

				.form_inp,
				.item-results-filter__divide,
				.item-results-filter__calendar-button {
					display: none;
				}
				.item-results-filter__buttons{
					padding: 0 24px 24px 24px;
					display: flex;
				}
			}
		}
		.item-results-filter__dd .easepick-wrapper{
			visibility: visible;
			opacity: 1;
		}
		// .filter-cover{
		// 	visibility: visible;
		// 	opacity: .34;
		// }
	}
}
.page-search-resuls {
	.title-with-dd {
		padding-top: 40px;
		@include max-screen($md){
			padding-top: 0;
		}
	}
	.crumbs{
		@include max-screen($sm){
			margin-bottom: 12px;
		}
	}
}
.place {}
.container {}
.crumbs {}
.crumbs_back {}
.icon-back {}
.title-with-dd {
	@include adaptive-value('font-size', 42, 31, 1);
	@include adaptive-value('margin-bottom', 45, 31, 1);
	font-size: 42px;
	line-height: calc(50 / 42);
	font-weight: 500;

	span{
		// margin-right: 16px;
	}
	a{
		position: relative;
		color: $accent;
		border-bottom: 1px dashed #FC6733;

		// &:after{
		// 	content: '';
		// }
	}
}
.filter-tags-wrapper{
	position: relative;
	@include max-screen($md){
		margin-right: -15px;
	}
	@include max-screen($sm){
		
	}
}
.filter-cover{
	// visibility: hidden;
	// opacity: 0;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(#222222, .34);
	z-index: 11;
	transition: all .3s;
}
.filter-tags {
	display: flex;
	flex-wrap:wrap;
	gap: 10px;
	position: relative;
	padding-bottom: 24px;
	border-bottom: 1px solid rgba(#222222, .05);

	@include max-screen($md){
		flex-wrap: nowrap;
		overflow: auto;
		padding-bottom: 5px;
	}

	&:not(:last-child){
		margin-bottom: 24px;
		
	}



}
.filter-tags-wrapper__cover{
	width: 31px;
	height: 100%;
	position: absolute;
	z-index: 2;
	right: 0;
	top: 0;
	background: linear-gradient(270deg, #F9F9FA 29.03%, rgba(249, 249, 250, 0) 100%);
}
.filter-tag {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 10px 15.44px;
	flex: 0 0 auto;
	background: #FFFFFF;
	border-radius: 20px;
	cursor: pointer;

	@include max-screen($xs){
		height: 26px;
		padding: 5px 8px;
	}

	&.active{
		background-color: $accent;
		color: #fff;
		.icon-close {
			display: block;
		}

	}
	.icon-close {
		display: none;
		color: #fff;
	}

}

.filter-tag__icon{
	font-size: 17px;
	&.icon-type {
		font-size: 24px;
	}
}
.filter-tag__name {
	margin-left: 8.6px;
	margin-right: 9.73px;
	font-size: 14px;

	@include max-screen($xs){
		font-size: 12px;
	}
}
.results-filter-wrapper{

}
.results-filter {
	display: flex;
	justify-content: space-between;

	@include max-screen($md){
		position: fixed;
		display: block;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		overflow: auto;
		z-index: 10;
		background-color: #fff;
		visibility: hidden;
		opacity: 0;
		transition: all .4s;
		transform: translate3d(100%, 0, 0);
	}

	&.active{
		visibility: visible;
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	// @include max-screen($md){
	// 	display: block;
	// }
}
.results-filter__header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 23px 16px 39px 16px;

	@include min-screen($md){
		display: none;
	}
}
.header-results-filter__title{
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
} 
.header-results-filter__close{
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.results-filter__buttons{
	position: fixed;
	display: none;
	padding: 13px 16px;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 10;
	gap: 10px;
	background: #FFFFFF;
	box-shadow: 0px -4px 54px rgba(157, 157, 157, 0.2);

	// @include min-screen($md){
	// 	display: none;
	// }

	a{
		flex: 0 0 50%;
	}
}
.results-filter__items{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;

	@include max-screen($md){
		flex-direction: column;
		display: flex;
	}
}
.results-filter__item {
	display: flex;
	position: relative;
	height: 48px;
	align-items: center;
	padding: 8px 20px;
	background: #FFFFFF;
	border-radius: 44px;
	cursor: pointer;

	@include max-screen($md){
		height: auto;
		display: block;
		box-shadow: none;
		padding-left: 19.5px;
		padding-right: 19.5px;
		border-radius: 0;
	}

	&--services{
		.item-results-filter__dd{
			width: 421px;

			@include max-screen($md){
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	&--dates{
		.item-results-filter__dd{
			padding: 24px;
			width: auto;

			@include max-screen($md){
				padding: 0;
			}
		}
		.item-results-filter__name{
			@include max-screen($md){
				margin-bottom: 16px;
			}
		}
	}
	&--cities{
		@include max-screen($md){
			// order:1;
		}
	}
	&.active{
		.item-results-filter__dd {
			visibility: visible;
			opacity: 1;
		}
	}
	.form_inp{
		position: absolute;
		width: 197px;
		height: 48px;
		top: -48px;
		left: 0;
		opacity: 0;

		@include max-screen($md){
			opacity: 1;
			position: static;
		}
	}
	.icon-faq_arrow{
		@include max-screen($md){
			display: none;
		}
	}
}
.item-results-filter__buttons{
	display: flex;
	justify-content: space-between;
	gap: 16px;
	// padding: 0 24px;
	.btn-sm{
		flex: 1 1 50%;
	}
	@include max-screen($md){
		display: none;
	}
}
.btn-sm{
	height: 40px;
	// width: 163px;
	font-size: 14px;
}
.item-results-filter__calendar-button{
	width: 44px;
	height: 44px;
	position: relative;
	background: #FC6733;
	border-radius: 8px;
	margin-left: 8px;
	flex-shrink: 0;

	@include min-screen($md){
		display: none;
	}

	span{
		font-size: 20px;
		color: #fff;
		@include absolute-center;
	}
}
.item-results-filter {}

.item-results-filter__name {
	margin-right: 12px;
	font-size: 14px;

	@include max-screen($md){
		margin-bottom: 20px;
		font-size: 16px;
	}
}
.item-results-filter__sort-key{
	margin-left: 10px;

	@include max-screen($md){
		display: none;
	}
}
.item-results-filter__caption{
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 22px;

	@include max-screen($md){
		display: none;
	}
}
.icon-faq_arrow {}
.item-results-filter__dd {
	position: absolute;
	z-index: 2;
	top: 105%;
	left: 0;
	width: 368px;
	padding: 16px;
	background: #FFFFFF;
	box-shadow: 0px 4px 24px rgba(34, 34, 34, 0.25);
	border-radius: 12px;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	cursor: auto;
	// overflow: hidden;

	@include max-screen($md){
		opacity: 1;
		visibility: visible;
		position: static;
		width: 100%;
		box-shadow: none;
		padding: 0;
		border-radius: 0;
	}

	.place_service-item {
		@include max-screen($xs){
			font-size: 14px;
			line-height: 1.5;
			padding: 8px 8px 8px 40px;
		}
		&:last-child{
			margin-right: 0;	
		}

		&.disabled{
			background-color: rgba(34, 34, 34, 0.1);
			color: #fff;
			// border-color: rgba(34, 34, 34, 0.1);

			.place_service-item-icon{
				color: #fff;
			}
		}
		span{
			@include max-screen($xs){
				font-size: 24px;
				height: inherit;
			}
		}
		.place_service-item-icon{
			color: $accent;
		}
	}
	.easepick-wrapper{
		position: relative !important;
		// pointer-events: all !important;
		@include max-screen($md){
			position: absolute !important;
			visibility: hidden;
			opacity: 0;
			bottom: 60px;
			width: 100%;
			left: 0;
		}
	}
	.range-top{
		display: none;
	}
	.range{
		height: 50px;

		.noUi-target{
			background-color: #E5E5E5;
			// border: none;
			border-color:  #E5E5E5;
		}
		.noUi-horizontal{
			height: 3px;
		}
		.noUi-marker-horizontal.noUi-marker-large{
			height: 10px;
			width: 3px;
			background-color: #E5E5E5;

			&.active{

				background-color: $accent;
			}
		}
		.noUi-value{
			padding-top: 7px;
			font-weight: 500;
			font-size: 14px;
			line-height: 14px;
			color: rgba(34, 34, 34, 0.4);
		}
		.noUi-connect{
			top: 0;
			background-color: $accent;
			margin-left: -15px;
		}
		.noUi-horizontal .noUi-handle{
			width: 19px;
			height: 19px;
			margin-top: -9px;
			background-color: #fff;
			border-color: $accent;

			&:before {
			  content: "\e923";
			  font-family: 'icomoon' !important;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				color: $accent;
				display: block;
				@include absolute-center-old;
				// left: 0;
				font-size: 8px;
				width: 15px;
				height: 15px;
				background-color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;

			}
		}
	}
	.noUi-pips{
		// position: relative;
		top: -14px;
		div{
			&:first-of-type{
				display: none;
			}

			&:last-of-type{
				
				display: none;
			}
			&:nth-child(2), &:nth-child(13){
				display: none;
			}
			&:nth-child(4), &:nth-child(12){
				color: #000;
			}
			&:not(:last-child){
			}
		}
	}
}
.item-results-filter__inputs{
	display: flex;
	align-items: center;
	@include min-screen($md){
		display: none;
	}
	.form_inp{
		@include max-screen($md){
			width: 129px;
			padding-left: 16px;
			border: 1px solid rgba(26, 27, 50, 0.2);
			border-radius: 8px;
		}
		@include max-screen(360px){
			width: 102px;
		}
	}
	.item-results-filter__divide{
		width: 10px;
		height: 2px;
		margin: 0 8px;
		background-color: rgba(26, 27, 50, 0.2);
	}
}
.results-filter__map-open{
	font-size: 14px;
	flex-shrink: 0;

	@include max-screen($md){
		display: none;
	}

	.icon-place_contacts-item2{
		margin-right: 10px;

		&:before{
		font-size: 19px;
			color: #222222;
		}
	}
}

.item-results-filter__form {
	margin-bottom: 24px;
}
.item-results-filter__label {
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;

	&:not(:last-child){
		margin-bottom: 17px;
	}
}
.item-results-filter__input {
	@include checkbox;

	&:checked + .item-results-filter__radio {
		border-color: $accent;
		&:before{
			display: block;
		}
	}
}
.item-results-filter__radio {
	width: 20px;
	height: 20px;
	flex-shrink: 0;
	border-radius: 50%;
	border: 2px solid rgba(#222222, .2);
	position: relative;
	margin-right: 10px;

	&:before{
		content: '';
		width: 10px;
		height: 10px;
		@include absolute-center;
		display: none;
		border-radius: inherit;
		background-color: $accent;
	}

}
.item-results-filter__radio-value {
	font-size: 14px;
}
.resuls-map {
	position: fixed;
	z-index: 11;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(#000, .3);
	transition: all .3s;
	transform: translate3d(100%, 0, 0);

	&.active{
		transform: translate3d(0, 0, 0);
	}
}
.resuls-map__close {
	width: 36px;
	height: 36px;
	position: absolute;
	top: 32px;
	right: 32px;
	border-radius: 50%;
	background-color: #f9f9fa;
	cursor: pointer;
	z-index: 2;
	
	.icon-delete {
		@include absolute-center;
	}
}
.resuls-map__map {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.resuls-map__bottom {
	max-width: 902px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	left: 0;
	margin: auto;
	
	.filter-tags {
		justify-content: center;

		@include max-screen($md){
			flex-wrap: wrap;
		}
	}
	.filter-tags__cover{
		display: none;
	}
	.filter-tag {
		box-shadow: 0px 4px 24px rgba(34, 34, 34, 0.25);
	}
}
.results-mobile-toggler {
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 30px;
	left: 0;
	right: 0;
	margin: auto;
	width: 285px;
	height: 44px;
	padding: 0 4px;
	background: #FFFFFF;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
	border-radius: 44px;

	@include min-screen($md){
		display: none;
	}
}
.results-mobile-toggler__item {
	width: 50%;
	position: relative;
	padding-left: 25px;
	padding-right: 5px;
	display: flex;
	align-items: center;
	font-size: 14px;

	&:first-child{

		&:after{
			content: '';
			position: absolute;
			width: 1px;
			right: -0.5px;
			top: 0;
			height: 100%;
			background-color: #CCCCCC;
		}
	}

}
.results-mobile-toggler__icon{
	margin-right: 10px;
	color: $accent;
}
.icon-place_contacts-item2 {}
.icon-filter {}
/*--------------------END search-results-page----------------------*/ 