/*--------------------search-results-page----------------------*/
.page-search-resuls {
	.title-with-dd {
		padding-top: 40px;
	}
}
.place {}
.container {}
.crumbs {}
.crumbs_back {}
.icon-back {}
.title-with-dd {
	padding-top: 40px;
	@include adaptive-value('font-size', 42, 31, 1);
	@include adaptive-value('margin-bottom', 45, 31, 1);
	font-size: 42px;
	line-height: calc(50 / 42);
	font-weight: 500;

	span{
		margin-right: 16px;
	}
	a{
		position: relative;
		color: $accent;
		border-bottom: 1px dashed #FC6733;

		// &:after{
		// 	content: '';
		// }
	}
}
.filter-tags {
	display: flex;
	flex-wrap:wrap;
	gap: 10px;
	padding-bottom: 24px;
	border-bottom: 1px solid rgba(#222222, .05);

	&:not(:last-child){
		margin-bottom: 24px;
		
	}

}
.filter-tag {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 10px 15.44px;
	background: #FFFFFF;
	border-radius: 20px;

	&.active{
		background-color: $accent;
		color: #fff;
		.icon-close {
			display: block;
		}

	}
	.icon-close {
		display: none;
		color: #fff;
	}

}

.filter-tag__icon{
	font-size: 17px;
	&.icon-type {
		font-size: 24px;
	}
}
.filter-tag__name {
	margin-left: 8.6px;
	margin-right: 9.73px;
	font-size: 14px;
}
.results-filter {
	display: flex;
	justify-content: space-between;
}
.results-filter__items{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.results-filter__item {
	display: flex;
	position: relative;
	height: 48px;
	align-items: center;
	padding: 8px 20px;
	background: #FFFFFF;
	border-radius: 44px;
	cursor: pointer;

	&--services{
		.item-results-filter__dd{
			width: 421px;
		}
	}
	&--dates{
		.item-results-filter__dd{
			padding: 24px;
			width: auto;
			// box-shadow: none;
		}
	}
	&.active{
		.item-results-filter__dd {
			visibility: visible;
			opacity: 1;
		}
	}
	.form_inp{
		position: absolute;
		width: 197px;
		height: 48px;
		top: -48px;
		left: 0;
		opacity: 0;
	}
	
}
.item-results-filter__buttons{
	display: flex;
	justify-content: space-between;
	gap: 16px;
	// padding: 0 24px;
	.btn-sm{
		flex: 1 1 50%;
	}
}
.btn-sm{
	height: 40px;
	// width: 163px;
	font-size: 14px;
}
.item-results-filter {}

.item-results-filter__name {
	margin-right: 12px;
	font-size: 14px;
}
.item-results-filter__caption{
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 22px;
}
.icon-faq_arrow {}
.item-results-filter__dd {
	position: absolute;
	top: 105%;
	left: 0;
	width: 368px;
	padding: 16px;
	background: #FFFFFF;
	box-shadow: 0px 4px 24px rgba(34, 34, 34, 0.25);
	border-radius: 12px;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	// overflow: hidden;

	.place_service-item {
		&:last-child{
			margin-right: 0;	
		}

		&.disabled{
			background-color: rgba(34, 34, 34, 0.1);
			color: #fff;
			// border-color: rgba(34, 34, 34, 0.1);

			.place_service-item-icon{
				color: #fff;
			}
		}
		.place_service-item-icon{
			color: $accent;
		}
	}
	.easepick-wrapper{
		position: relative !important;
		// pointer-events: all !important;
	}
	.range-top{
		display: none;
	}
	.range{
		height: 50px;

		.noUi-target{
			background-color: #E5E5E5;
			// border: none;
			border-color:  #E5E5E5;
		}
		.noUi-horizontal{
			height: 3px;
		}
		.noUi-marker-horizontal.noUi-marker-large{
			height: 10px;
			width: 3px;
			background-color: #E5E5E5;

			&.active{

				background-color: $accent;
			}
		}
		.noUi-value{
			padding-top: 7px;
			font-weight: 500;
			font-size: 14px;
			line-height: 14px;
			color: rgba(34, 34, 34, 0.4);
		}
		.noUi-connect{
			top: 0;
			background-color: $accent;
			margin-left: -15px;
		}
		.noUi-horizontal .noUi-handle{
			width: 19px;
			height: 19px;
			margin-top: -9px;
			background-color: #fff;
			border-color: $accent;

			&:before {
			  content: "\e923";
			  font-family: 'icomoon' !important;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				color: $accent;
				display: block;
				@include absolute-center-old;
				// left: 0;
				font-size: 8px;
				width: 15px;
				height: 15px;
				background-color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;

			}
		}
	}
	.noUi-pips{
		// position: relative;
		top: -14px;
		div{
			&:first-of-type{
				display: none;
			}

			&:last-of-type{
				
				display: none;
			}
			&:nth-child(2), &:nth-child(13){
				display: none;
			}
			&:nth-child(4), &:nth-child(12){
				color: #000;
			}
			&:not(:last-child){
			}
		}
	}
}
.results-filter__map-open{
	font-size: 14px;
	.icon-place_contacts-item2{
		margin-right: 10px;

		&:before{
		font-size: 19px;
			color: #222222;
		}
	}
}
.place_service-items {}

.icon-place_service1 {}
.icon-residence {}
.icon-place_service2 {}
.icon-daylight {}
.icon-bath {}
.icon-spa {}
.icon-beach {}
.icon-zoo {}
.disabled {}
.icon-fishing {}
.icon-carousel {}
.icon-horse {}
.icon-place_service3 {}
/*--------------------END search-results-page----------------------*/ 