/*--------------------search-results-cards----------------------*/
.search-results-cards{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
	margin-top: 24px;

	@include max-screen($sm){
		margin-left: 0;
		margin-right: 0;
	}  
}
.similar_slide{
	width: auto;
}
.result-card{
	width: calc((100% / 2) - 24px);
	margin-bottom: 32px;
	margin-left: 12px;
    margin-right: 12px;
	display: flex;
	flex-direction: column;

	@include max-screen($sm){
		width: 100%;
		margin-left: 0;
    	margin-right: 0;
	}  

	&.result-card--xz{
		.room_card-title{
			@include max-screen(1200px){
				overflow: hidden;
				white-space: nowrap;
			}  
		}
		.similar_slide-text{
			@include dots-family-multi(6);
		}
	}

	&:not(.result-card--services):not(.result-card--xz){
		.room_card-title{
			text-overflow: clip;
			overflow: visible;
			white-space: normal;

				@include dots-family-multi(2);

		// 	@include max-screen($sm){

		// 	}

			// @include max-screen($sm){
			// 	-webkit-line-clamp: none;
			// 	-webkit-box-orient: horizontal;
			// 	overflow: visible;
			// } 

		}
		.similar_slide-text{
			@include dots-family-multi(4);
		} 
		.similar_slide-link{
			@include max-screen($xss){
				display: block;
			}  
			.similar_slide-btn{
				@include max-screen($xss){
					margin-top: 10px;
					width: 100%;
				}  
			}
		}
		.room_card-title:hover .tooltip_text{
			visibility: hidden;
			opacity: 0;
		}
	}
	&--services{
		.room_card-title{
			@media screen and (max-width: 1200px) {
				overflow: hidden;
   		 white-space: nowrap;
			}
			@include max-screen($sm){
				overflow: visible;
				white-space: normal;
				@include dots-family-multi(2);
			}  
		}
		 .similar_slide-text{
			@include dots-family-multi(2);

			// @include max-screen($sm){
			// 	-webkit-line-clamp: none;
			// 	-webkit-box-orient: horizontal;
			// 	overflow: visible;
			// }  
		}
		.similar_slide-link{
			@include max-screen(1100px){
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
			}  
		}
		div.similar_slide-sutitle{
			@include max-screen(1100px){
				flex: 1 0 auto;
			} 

			@include max-screen(320px){
				flex-direction: column;
				align-items: flex-start;
			}  
		}
		.result-card__bottom-box{
			@include max-screen($xs){
				flex: 1 1 auto;
			}


		}
	}
	.similar_slide-imgs{
		.slick-next,
		.slick-prev{
			@include max-screen($md){
				display: none !important;
				
			}  
		}
	} 
	.similar_slide-info{
		padding: 24px;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;

		@include max-screen($xs){
			padding: 16px;
		}
	}
	.result-card__link{
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.similar_slide-top{
		position: relative;
	}
	.room_card-title{
		margin-bottom: 8px;
		padding-right: 8px;
		font-weight: 500;
		font-size: 32px;
		line-height: 38px;

		@include max-screen($md){
			font-size: 24px;
    line-height: 29px;
		}  
	}
	.similar_slide-img{
		height: 356px;

		@include max-screen(1230px){
			height: 0;
			padding-bottom: 20.13%;
		}
	}
	.similar_slide-adres {
		color: #222222;
	}

	.similar_slide-text{
		padding-right: 29px;
		margin-bottom: 16px;
		color: #222222;

		@include max-screen($sm){
			padding-right: 0;
		}
		// @include max-screen(575.98px){
		// 	-webkit-line-clamp: none;
		// 	-webkit-box-orient: horizontal;
		// 	overflow: visible;
		// } 
	}
	.place_service-items{
		margin-bottom: 10px;
	}
	.place_service-item{
		color: #222222;
	}
	.similar_slide-link{
		margin-top: auto;

		.similar_slide-btn{
			width: 134px;

			@include max-screen($xss){
				height: 40px;
			}  
		}
	}
	.similar_slide-sutitle{
		display: flex;
		align-items: center;
		padding-left: 0;
		margin-top: 17px;
		margin-bottom: 17px;
		color: #222222;
	}
	.similar_slide-rating{
		padding-left: 35px;
		margin-left: -15px;

		.icon-rating{
			color: $accent;
		}
	}
	.result-card__bottom-box{
		display: flex;
		align-items: center;

		@include max-screen(1100px){
			// margin-top: 17px;
			flex: 1 1 auto;
			justify-content: flex-end;
		}  
		@include max-screen($md){
			// justify-content: space-between;
		}  
		.similar_slide-btn{
			@include max-screen($md){
				margin-left: auto;
			} 
			@include max-screen($sm){
				margin-left: 0;
			} 
			@include max-screen($xs){
				margin-left: auto;
			}  
		}
	}
	.result-card__reservation{
		display: flex;
		align-items: center;
		margin-right: 20px;
		font-size: 12px;
		color: #256FFB;

		@include max-screen(320px){
			margin-right: 0;
		}

		.icon-hotel{
			margin-right: 5px;
			font-size: 16px;
		}
	}
}
.place_service-item--adding{
	padding-right: 12px;
	.place_service-item-icon{
		margin-left: 5px;
		font-size: 16px;

		@include max-screen($xs){
			margin-top: 2px;
			font-size: 13px;
		}  
	}
}

.search-results-cards__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	width: calc(100% - 24px);
	margin-right: 12px;
	margin-left: 12px;
	font-size: 14px;

	@include max-screen($sm){
		justify-content: center;
			width: 100%;
		margin-right:0;
		margin-left: 0;
		}
}
.search-results-cards__offers {
	display: flex;
	align-items: center;
	color: rgba(#222222, .4);

	@include max-screen($sm){
		display: none;
	}  
}
.search-results-cards__offers-count {
	margin-right: 4px;
	color: #222222;
}
.search-results-cards__offers-all {
	font-size: 14px;
}
.search-results-cards__more {
		width: 154px;
		height: 52px;
		font-size: 14px;
		font-weight: 500;
		
		@include max-screen($sm){
			width: 100%;
		}

		.desk{
			@include max-screen($sm){
				display: none;
			}  
		}
		.mob{
			@include min-screen($sm){
				display: none;
			}  
		}
}
.search-results-cards__pagin {
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;

	&.active{
		.pagin-dropdown{
			display: block;
		}
	}
	@include max-screen($sm){
		display: none;
	}
}
.search-results-cards__places {
	margin-right: 16px;
	color: #222222;
	font-size: 14px;
}
.search-results-cards__places-count {
	padding: 0 23px;
	height: 48px;
	display: flex;
	align-items: center;
	border: 1px solid #F0F0F0;
	border-radius: 34px;
	
	.icon-faq_arrow {
		margin-left: 10px;
	}
}
.pagin-dropdown{
	position: absolute;
	display: none;
	width: 80px;
	right: 0;
	top: 100%;
	padding: 8px 16px;
	background: #FFFFFF;
	box-shadow: 0px 4px 24px rgba(34, 34, 34, 0.25);
	border-radius: 12px;
}
.pagin-dropdown__item{
	padding: 8px 0;
	cursor: pointer;
	font-size: 14px;
}
/*--------------------END search-results-cards----------------------*/ 